# KNN Algorithm

In [ ]:
import pandas as pd
import math

In [186]:
df=pd.read_csv('Iris.csv')

In [187]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [188]:
set(df['Species'])

{'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'}

In [189]:
s_len=5.8
s_width=3.1
p_len=5.0
p_width=1.9

In [190]:
data=df.to_numpy()

In [191]:
def distance(sl,sw,pl,pw,sl1,sw1,pl1,pw1):
    return math.sqrt(((sl-sl1)**2)+((sw-sw1)**2)+((pl-pl1)**2)+((pw-pw1)**2))

In [192]:
nrow=data.shape[0]
ncol=data.shape[1]

In [193]:
dist=[]
for i in data:
    dist.append([distance(i[1],i[2],i[3],i[4],s_len,s_width,p_len,p_width),i[5]])

In [194]:
k=15
dist.sort()
dist=dist[:k]

dist

[[0.20000000000000007, 'Iris-virginica'],
 [0.26457513110645936, 'Iris-versicolor'],
 [0.31622776601683816, 'Iris-virginica'],
 [0.34641016151377524, 'Iris-virginica'],
 [0.38729833462074187, 'Iris-virginica'],
 [0.41231056256176585, 'Iris-virginica'],
 [0.41231056256176585, 'Iris-virginica'],
 [0.547722557505166, 'Iris-versicolor'],
 [0.5477225575051665, 'Iris-virginica'],
 [0.5916079783099617, 'Iris-virginica'],
 [0.6164414002968976, 'Iris-virginica'],
 [0.6557438524302, 'Iris-virginica'],
 [0.6782329983125268, 'Iris-versicolor'],
 [0.6855654600401042, 'Iris-versicolor'],
 [0.6855654600401043, 'Iris-versicolor']]

In [195]:
count=dict()
for i in dist:
    if i[1] in count:
        count[i[1]]+=1
    else:
        count[i[1]]=1

In [196]:
count

{'Iris-virginica': 10, 'Iris-versicolor': 5}